.global {
  font-size: 24px;
}

.block_text--span {
  font-weight: 700;
  font-size: 32px;
  color: red;
}

.global__block_anotherr-text {
  color: rgb(41, 212, 35);
}

.global__btn {
  background-color: red;
  height: 35px;
  width: 200px;
  border-radius: 5%;
  transition: all 0.5s ease-in-out;
}

.hovBtnnn {
  background-color: orange;
  transition: all 0.5s ease-in-out;
}

.kub {
  height: 250px;
  width: 250px;
  background-color: orange;
  position: absolute;
  top: 250px;
  left: 5%;
  display: block;
}

.active-kub {
  display: none;
}

.kubi {
  background-color: red;
  width: 50px;
  height: 50px;
  position: relative;
  margin: 15px;
  cursor: pointer;
}

.active___green {
  background-color: green;
}

.calck {
  display: none;
  position: absolute;
  top: 15px;
  left: 30%;
  height: 550px;
  width: 320px;
  box-shadow: 15px 7px 7px;
  border: 2px solid black;
  background-color: white;
  border-radius: 5px;
  user-select: none;
}

.calck span {
  color: rgb(90, 90, 88);
  text-shadow: 2px 1px 1px black;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 5px;
  text-align: center;
  margin-left: 22%;
  position: relative;
}

.calk__result {
  position: relative;
  margin: 5px;
  margin-top: 25px;
  height: 50px;
  border: 5px solid rgb(199, 196, 196);
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
}

.calck_otvet {
  font-weight: 900;
  font-size: 45px;
  overflow: hidden;
}

.calck__raschet {
  display: flex;
  position: relative;
  height: 70%;
  justify-content: space-between;
}

.calck__container_ciferok {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  display: grid;
  grid-template-areas: "o1 o2 o3 " "o4 o5 o6 " "o7 o8 o9 " "o11 o10 o12";
  justify-items: center;
  align-items: center;
  font-size: 65px;
  font-weight: 700;
}

.cifrinka {
  width: 60px;
  text-align: center;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  box-sizing: border-box;
  border: solid 2px rgb(46, 45, 45);
  margin-left: 15px;
  cursor: pointer;
}

.cifrinka:hover {
  border: solid 2px rgb(0, 0, 0);
  box-shadow: 3px 3px 3px gray;
  background-color: rgb(209, 206, 206);
  border-radius: 25%;
}

.o1 {
  grid-area: "o1";
}

.o2 {
  grid-area: "o2";
}

.o3 {
  grid-area: "o3";
}

.o4 {
  grid-area: "o4";
}

.o5 {
  grid-area: "o5";
}

.o6 {
  grid-area: "o6";
}

.o7 {
  grid-area: "o7";
}

.o8 {
  grid-area: "o8";
}

.o9 {
  grid-area: "o9";
}

.o10 {
  grid-area: "o10";
}

.o11 {
  grid-area: "o11";
}

.o12 {
  grid-area: "o12";
}

.calck__arifmetika {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-height: 320px;
  margin-right: 5px;
  margin-top: 15px;
}

.ari {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 3px 3px 1px;
  border: solid 1px black;
  margin-right: 7px;
  cursor: pointer;
}

.ari:hover {
  border: solid 2px rgb(0, 0, 0);
  box-shadow: 3px 3px 3px gray;
  background-color: rgb(214, 168, 168);
}

.plus {
  background-color: rgb(233, 17, 17);
}

.emnojaet {
  vertical-align: middle;
}

/*----------------------------TO DO------------------------------------------*/